nav{
    min-height: 5dvh;
    height:25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #121212;
    justify-content: space-between;
    
}

.nav-logo {
    flex-direction:row;
    display:flex;
    margin-right:100px;
    height: 4dvh;
    width: 4dvh;
    margin-top: -1dvh;
}

.logo-link {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff
}

.center-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-column{
    display:flex;
    flex-direction: row;
    color:white;
    align-content:space-between;
}

#btn-1{
    cursor:pointer;
    margin:10px;
    border:none;
    border-radius:15px;
    background-color:#ffffff;
    display:flex;
    font-size: 20px;
}

.icon {
    height: 2dvh;
    width: 2dvh;
    align-self: center;
}

.download-icon{
    display:flex;
    flex-direction:row;

}

#download-icon-wrapper {
    height: 3dvh;
    width: 3dvh;
    border: white 3px solid;
    align-content: center;
    align-self: center;
    text-align: center;
    border-radius: 20px;
    margin: 4px;
}